// ** FirstCommonCard
.first-commonCard-main {
    background: transparent;
    box-shadow: none;
  }
  .first-commonCard-img {
    width: 100%;
    height: 196px;
    max-height: 200px;
    cursor: pointer;
  }