/* --------------->inter */
@font-face {
  font-family: poppins-thin;
  src: url('./poppins/Poppins-Thin.ttf');
}
@font-face {
  font-family: poppins-light;
  src: url('./poppins/Poppins-Light.ttf');
}
@font-face {
  font-family: poppins-regular;
  src: url('./poppins/Poppins-Regular.ttf');
}
@font-face {
  font-family: poppins-medium;
  src: url('./poppins/Poppins-Medium.ttf');
}
@font-face {
  font-family: poppins-semibold;
  src: url('./poppins/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: poppins-bold;
  src: url('./poppins/Poppins-Bold.ttf');
}
